  body{
      box-sizing: border-box;
      background-color: cyan;
  }
  .cell{
    padding:10px;
  }
  .bg-light .navbar-nav .nav-link{
    color: black;
  }
  .column{
      float:left;
      width: 50%;
  }
  .row:after{
      content:"";
      display: table;
      clear: both;
      background-color: orange;
     /* border-right: 10px;*/
  }
  .videos{
      float: left; 
      width: 100%;
      height: 450px;
      padding: 10px;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }